html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calc {
  margin: 5% 0;
  border-radius: 5px;
  width: 25vw;
  background: linear-gradient(145deg, rgba(35, 35, 35, 1), rgba(0, 0, 0, 1));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#display {
  padding: 2em 1.25em;
  color: white;
  text-align: right;
}
h1,
h3 {
  font-weight: lighter;
  margin: 0;
}
h1 {
  font-size: 2.5em;
}
h3 {
  font-size: 1em;
}
.buttons {
  border-top: rgba(136, 136, 136, 1) solid 1px;
  padding: 0.3em 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 21%;
  margin: 0.15em;
  padding: 0.4em 0;
  border-radius: 0.5em;
  border: none;
  color: white;
  background-color: rgba(89, 89, 89, 0.67);
  font-size: 1.5em;
}
.double {
  width: 44%;
}

button:hover {
  background-color: rgba(121, 121, 121, 0.67);
}
button:active {
  background-color: rgba(77, 77, 77, 0.67);
}
.row:first-child button {
  background-color: rgba(102, 129, 183, 0.67);
}
.row:first-child button:hover {
  background-color: rgba(113, 143, 202, 0.67);
}
.row:first-child button:active {
  background-color: rgba(81, 104, 148, 0.67);
}
.row button:last-child,
#decimal {
  background-color: rgba(59, 90, 149, 0.67);
}
.row button:last-child:hover,
#decimal {
  background-color: rgba(67, 103, 170, 0.67);
}
.row button:last-child:active,
#decimal {
  background-color: rgba(49, 75, 124, 0.67);
}

@media (max-device-width: 900px) {
  .calc {
    width: 90%;
  }
  #display {
    padding: 3em 2.25em;
  }
  h1 {
    font-size: 7em;
  }
  h3 {
    font-size: 3em;
  }
  .buttons {
    padding: 0.6em 0;
  }
  button {
    font-size: 4em;
  }
}
